---
layout: "navBarBack"
title: Jim Davis - 1996 Publications
---

<div class="banner center">
    <div class="academiaBanner">
        <%= image_tag "bannerAcademia.jpg" %>
    </div>
</div>
<div class="center">
    <h2>1996 - 1994</h2>
</div>

<!-- 1996 - 1994 Publications -->
<div class="publicationsList">
    <ul>
        <li><span>Real-time Recognition of Activity Using Temporal Templates - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/TR-386.pdf' %></span><br>J. Davis and A. Bobick<br>IEEE Workshop on Applications of Computer Vision, December 1996, pp. 39-42</li> 

        <li><span>An Appearance-based Representation of Action - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/TR-369.pdf' %></span><br>J. Davis and A. Bobick<br>IEEE International Conference on Pattern Recognition, August 1996, pp. 307-312</li> 

        <li><span>Visual Gesture Recognition - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/visp.pdf' %></span><br>J. Davis and M. Shah<br>Vision, Image and Signal Processing, Vol. 141, No. 2, 1994, pp. 101-106</li> 

        <li><span>Recognizing Hand Gestures - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/eccv.pdf' %></span><br>J. Davis and M. Shah<br>European Conference on Computer Vision, 1994, pp. 331-340</li> 

        <li><span>Determining 3-D Hand Motion - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/asilomar.pdf' %></span><br>J. Davis and M. Shah<br>IEEE Asilomar Conference on Signals, Systems, and Computers, October 1994, pp. 1262-1266</li> 
    
    </ul>
</div>




