---
layout: "navBarBack"
title: Jim Davis - 2000 Publications
---

<div class="banner center">
    <div class="academiaBanner">
        <%= image_tag "bannerAcademia.jpg" %>
    </div>
</div>
<div class="center">
    <h2>2000 - 1999</h2>
</div>

<!-- 2000 - 1999 Publications -->
<div class="publicationsList">
    <ul>
        <li><span>Physically Interactive Story Environments - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/ibmpaper.pdf' %></span><br>C. Pinhanez, J. Davis, S. Intille, M. Johnson, A. Wilson, A. Bobick, and B. Blumberg<br>IBM Systems Journal, Vol. 39, No. 3/4, 2000, pp. 438-455</li> 

        <li><span>Motion Segmentation and Pose Recognition with Motion History Gradients - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/wacv00.pdf' %></span><br>G. Bradski and J. Davis<br>IEEE Workshop on Applications of Computer Vision, December 2000, pp. 174-184</li> 

        <li><span>Categorical Representation and Recognition of Oscillatory Motion Patterns - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr2000.pdf' %></span><br>J. Davis, A. Bobick, W. Richards<br>IEEE Conference on Computer Vision and Pattern Recognition, June 2000, pp. 628-635</li> 

        <li><span>Relating Categories of Intentional Animal Motions - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/OSU-TR25.pdf' %></span><br>J. Davis and W. Richards<br>OSU Dept. Computer and Information Science Technical Report OSU-CISRC-11/00-TR25, November 2000</li> 

        <li><span>The Kidsroom: A Perceptually-Based Interactive and Immersive Story Environment - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/kidsroom.pdf' %></span><br>A. Bobick, S. Intille, J. Davis, F. Baird, C. Pinhanez, L. Campbell, Y. Ivanov, A. Schutte, and A. Wilson<br>Presence: Teleoperators and Virtual Environments, Vol. 8, No. 4, 1999, pp. 367-391</li> 

        <li><span>Toward 3-D Gesture Recognition - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/ijprai.pdf' %></span><br>J. Davis and M. Shah<br>International Journal of Pattern Recognition and Artificial Intelligence, Volume 13 Number 3, May 1999, pp. 381-393</li> 

        <li><span>Real-time Motion Template Gradients using Intel CVLib - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/motiontemplategradient.pdf' %></span><br>J. Davis and G. Bradski<br>IEEE ICCV Workshop on Frame-rate Vision, September 1999</li> 

        <li><span>Recognizing Movement using Motion Histograms - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/TR-487.pdf' %></span><br>J. Davis<br>MIT Technical Report #487, March 1999</li> 
    
    </ul>
</div>




