---
layout: "navBarBack"
title: Jim Davis - 2002 Publications
---

<div class="banner center">
    <div class="academiaBanner">
        <%= image_tag "bannerAcademia.jpg" %>
    </div>
</div>
<div class="center">
    <h2>2002 - 2001</h2>
</div>

<!-- 2002 - 2001 Publications -->
<div class="publicationsList">
    <ul>
        <li><span>A Three-Mode Expressive Feature Model of Action Effort - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/motion02.pdf' %></span><br>J. Davis, H. Gao, and V. Kannappan<br>IEEE Workshop on Motion and Video Computing, Orlando, Florida, December 5-6, 2002, pp. 139-144</li> 

        <li><span>Motion Segmentation and Pose Recognition with Motion History Gradients - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/mva02.pdf' %></span><br>G. Bradski and J. Davis<br>International Journal of Machine Vision and Applications, Vol. 13, No. 3, 2002, pp. 174-184</li> 

        <li><span>Analysis and Recognition of Walking Movements - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/icpr02.pdf' %></span><br>J. Davis and S. Taylor<br>International Conference on Pattern Recognition, Quebec City, Canada, August 11-15, 2002, pp. 315-318</li> 

        <li><span>Expressive Features for Movement Exaggeration - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/sketch02.pdf' %></span><br>J. Davis and V. Kannappan<br>SIGGRAPH Conference Abstracts and Applications (Technical Sketches), San Antonio, Texas, July 24, 2002, pp. 182</li>

        <li><span>The Representation and Recognition of Action Using Temporal Templates - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/pami01.pdf' %></span><br>A. Bobick and J. Davis<br>IEEE Transactions on Pattern Analysis and Machine Intelligence, Vol. 23, No. 3, 2001, pp. 257-267</li> 

        <li><span>A Perceptual User Interface for Recognizing Head Gesture Acknowledgements - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/PUI2001-Davis.pdf' %></span><br>J. Davis and S. Vaks<br>ACM Workshop on Perceptual User Interfaces, Orlando, Florida, November 15-16, 2001</li> 

        <li><span>Representing and Recognizing Human Motion: From Motion Templates to Movement Categories - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/iros.pdf' %></span><br>J. Davis<br>Digital Human Modeling Workshop, International Conference on Intelligent Robots and Systems, Maui, Hawaii, October 29, 2001</li> 

        <li><span>Hierarchical Motion History Images for Recognizing Human Motion - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/event01.pdf' %></span><br>J. Davis<br>IEEE Workshop on Detection and Recognition of Events in Video, Vancouver, Canada, July 8, 2001, pp. 39-46</li> 

        <li><span>Visual Categorization of Children and Adult Walking Styles - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/avbpa01.pdf' %></span><br>J. Davis<br>International Conference on Audio- and Video-based Biometric Person Authentication, Halmstad, Sweden, June 6-8, 2001, pp. 295-300</li> 
    
    </ul>
</div>




