---
layout: "navBarBack"
title: Jim Davis - 2004 Publications
---

<div class="banner center">
    <div class="academiaBanner">
        <%= image_tag "bannerAcademia.jpg" %>
    </div>
</div>
<div class="center">
    <h2>2004 - 2003</h2>
</div>

<!-- 2004 - 2003 Publications -->
<div class="publicationsList">
    <ul>
        <li><span>Differential Video Coding of Face and Gesture Events in Presentation Videos - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/cviu04.pdf' %></span><br>R. Tan and J. Davis<br>Computer Vision and Image Understanding, Vol. 96, No. 2, 2004, pp. 200-215</li> 

        <li><span>Robust Detection of People in Thermal Imagery - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/icpr04.pdf' %></span><br>J. Davis and V. Sharma<br>International Conference on Pattern Recognition, Cambridge, United Kingdom, August 23-26, 2004, pp. 713-716</li> 

        <li><span>Sequential Reliable-Inference for Rapid Detection of Human Actions - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/event04.pdf' %></span><br>J. Davis<br>IEEE Workshop on Detection and Recognition of Events in Video, Washington DC, July 2, 2004</li> 

        <li><span>Robust Background-Subtraction for Person Detection in Thermal Imagery - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/otcbvs04.pdf' %></span><br>J. Davis and V. Sharma<br>IEEE International Workshop on Object Tracking and Classification Beyond the Visible Spectrum, Washington DC, July 2, 2004</li> 

        <li><span>Gender Recognition from Walking Movements using Adaptive Three-Mode PCA - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/anm04.pdf' %></span><br>J. Davis and H. Gao<br>IEEE Workshop on Articulated and Nonrigid Motion, Washington DC, June 27, 2004</li> 

        <li><span>An Expressive Three-Mode Principal Components Model for Gender Recognition - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/jov04.pdf' %></span><br>J. Davis and H. Gao<br>Journal of Vision, Vol. 4, No. 5, 2004, pp. 362-377</li> 

        <li><span>An Expressive Three-Mode Principal Components Model of Human Action Style - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/ivc03.pdf' %></span><br>J. Davis and H. Gao<br>Image and Vision Computing, Vol. 21, No. 11, 2003, pp. 1001-1016</li> 

        <li><span>Recognizing Human Action Efforts: An Adaptive Three-Mode PCA Framework - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/iccv03.pdf' %></span><br>J. Davis and H. Gao<br>International Conference on Computer Vision, Nice, France, October 13-16, 2003, pp. 1463-1469</li> 

        <li><span>A Reliable-Inference Framework for Recognition of Human Actions - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/avss03.pdf' %></span><br>J. Davis and A. Tyagi<br>IEEE International Conference on Advanced Video and Signal Based Surveillance, Miami, Florida, July 21-22, 2003, pp. 169-176</li> 

    </ul>
</div>




