---
layout: "navBarBack"
title: Jim Davis - 2006 Publications
---

<div class="banner center">
    <div class="academiaBanner">
        <%= image_tag "bannerAcademia.jpg" %>
    </div>
</div>
<div class="center">
    <h2>2006 - 2005</h2>
</div>

<!-- 2006 - 2005 Publications -->
<div class="publicationsList">
    <ul>
        <li><span>Tracking Mean Shift Clustered Point Clouds for 3D Surveillance - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/vssn06b.pdf' %></span><br>M. Keck, J. Davis, and A. Tyagi<br>ACM Multimedia Workshop on Video Surveillance and Sensor Networks, October 2006, pp. 187-194</li> 

        <li><span>Multiview Fusion for Canonical View Generation based on Homography Constraints - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/vssn06a.pdf' %></span><br>A. Tyagi, J. Davis, and M. Keck<br>ACM Mulimedia Workshop on Video Surveillance and Sensor Networks, October 2006, pp. 61-69</li>

        <li><span>Minimal-Latency Human Action Recognition using Reliable-Inference - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/ivc06.pdf' %></span><br>J. Davis and A. Tyagi<br>Image and Vision Computing, Vol. 24, 2006, pp. 455-472</li>

        <li><span>Human Activity Recognition for Synthesis - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/lrchsv06.pdf' %></span><br>Y. Chen, R. Parent, R. Machiraju, and J. Davis<br>IEEE Workshop on Learning, Representation, and Context for Human Sensing in Video, New York, NY, June 22, 2006</li>

        <li><span>Feature-level Fusion for Object Segmentation using Mutual Information - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/otcbvs06.pdf' %></span><br>V. Sharma and J. Davis<br>IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum, New York, NY, June 22, 2006</li>

        <li><span>Sampling Representative Examples for Dimensionality Reduction and Recognition - Bootstrap Bumping LDA - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/eccv06.pdf' %></span><br>H. Gao and J. Davis<br>European Conference on Computer Vision (ECCV), Graz, Austria, May 7-13, 2006, Part III, LNCS 3953, pp. 275-287</li>

        <li><span>Why Direct LDA Is Not Equivalent to LDA - Bootstrap Bumping LDA - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/pr06.pdf' %></span><br>H. Gao and J. Davis<br>Pattern Recognition, Vol. 39, 2006, pp. 1002-1006</li>

        <li><span>Event Template Hierarchies as Means for Human-Automation Collaboration in Security Surveillance - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/eventTemplates05.pdf' %></span><br>D. Woods, S. McNee, J. Davis, A. Morison, P. Maughan, and K. Christoffersen<br>Human Factors and Ergonomics Society Annual Meeting, Orlando, FL, September 26-28, 2005</li>

        <li><span>Modeling Behavior Trends and Detecting Abnormal Events using Seasonal Kalman Filters - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/harem05.pdf' %></span><br>J. Davis and M. Keck<br>Workshop on Human Activity Recognition and Modeling, Oxford, UK, September 9, 2005</li>

        <li><span>Fusion-based Background-Subtraction using Contour Saliency - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/otcbvs05.pdf' %></span><br>J. Davis and V. Sharma<br>IEEE Workshop on Object Tracking and Classification in and Beyond the Visible Spectrum, San Diego, CA, June 20, 2005</li>

        <li><span>A Two-Stage Template Approach to Person Detection in Thermal Imagery - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/wacv05.pdf' %></span><br>J. Davis and M. Keck<br>Workshop on Applications of Computer Vision, Breckenridge, Colorado, January 5-7, 2005</li>
    
    </ul>
</div>




