---
layout: "navBarBack"
title: Jim Davis - 2008 Publications
---

<div class="banner center">
    <div class="academiaBanner">
        <%= image_tag "bannerAcademia.jpg" %>
    </div>
</div>
<div class="center">
    <h2>2008 - 2007</h2>
</div>

<!-- 2008 - 2007 Publications -->
<div class="publicationsList">
    <ul>
        <li><span>Feature-Level Fusion for Object Segmentation Using Mutual Information - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/avpi08.pdf' %></span><br>V. Sharma and J. Davis<br>Book chapter in Augmented Vision Perception in Infrared, Springer, December 2008, pp. 295-319</li> 

        <li><span>A Fast Linear Registration Framework for Multi-Camera GIS Coordination - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/avss08.pdf' %></span><br>K. Sankaranarayanan and J. Davis<br>IEEE International Conference on Advanced Video and Signal Based Surveillance, September 2008</li> 

        <li><span>3D Occlusion Recovery using Few Cameras - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr08-a.pdf' %></span><br>M. Keck and J. Davis<br>IEEE Conference on Computer Vision and Pattern Recognition, June 2008</li> 

        <li><span>A Recursive Filter For Linear Systems on Riemannian Manifolds - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr08-b.pdf' %></span><br>A. Tyagi and J. Davis<br>IEEE Conference on Computer Vision and Pattern Recognition, June 2008</li> 

        <li><span>An Efficient Active Camera Model for Video Surveillance - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/wacv08.pdf' %></span><br>K. Sankaranarayanan and J. Davis<br>IEEE Workshop on Applications of Computer Vision, January 2008</li> 

        <li><span>A Context-Based Tracker Switching Framework - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/wmvc08a.pdf' %></span><br>A. Tyagi and J. Davis<br>IEEE Workshop on Motion and Video Computing, January 2008</li> 

        <li><span>Steepest Descent For Efficient Covariance Tracking - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/wmvc08b.pdf' %></span><br>A. Tyagi, J. Davis, and G. Potamianos<br>IEEE Workshop on Motion and Video Computing, January 2008</li> 

        <li><span>Integrating Appearance and Motion Cues for Simultaneous Detection and Segmentation of Pedestrians - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/iccv07.pdf' %></span><br>V. Sharma and J. Davis<br>IEEE International Conference on Computer Vision, October 2007</li> 

        <li><span>Kernel-Based 3D Tracking - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/vs07b.pdf' %></span><br>A. Tyagi, M. Keck, J. Davis, and G. Potamianos<br>IEEE International Workshop on Visual Surveillance, June 2007</li> 

        <li><span>Simultaneous Detection and Segmentation of Pedestrians using Top-down and Bottom-up Processing - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/vs07a.pdf' %></span><br>V. Sharma and J. Davis<br>IEEE International Workshop on Visual Surveillance, June 2007</li> 

        <li><span>Background-Subtraction using Contour-based Fusion of Thermal and Visible Imagery - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/cviu07.pdf' %></span><br>V. Sharma and J. Davis<br>Computer Vision and Image Understanding, Vol. 106, No. 2-3, 2007, pp. 162-182</li>  
        
        <li><span>An Adaptive Focus-of-Attention Model for Video Surveillance and Monitoring - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/mva07.pdf' %></span><br>J. Davis, A. Morison, and D. Woods<br>Machine Vision and Applications, Vol. 18, No. 1, 2007, pp. 41-64</li>    

        <li><span>Building Adaptive Camera Models for Video Surveillance - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/wacv07a.pdf' %></span><br>J. Davis, A. Morison, and D. Woods<br>IEEE Workshop on Application of Computer Vision, February 2007</li>     

        <li><span>Extraction of Person Silhouettes from Surveillance Imagery using MRFs - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/wacv07b.pdf' %></span><br>V. Sharma, J. Davis, and A. Tyagi<br>IEEE Workshop on Application of Computer Vision, February 2007</li>   

        <li><span>Fusion of Multiple Camera Views for Kernel-Based 3D Tracking - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/wmvc07.pdf' %></span><br>A. Tyagi, G. Potamianos, J. Davis, and S. Chu<br>IEEE Workshop on Motion and Video Computing, February 2007</li>

        <li><span>Coverage Optimization to Support Security Monitoring - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/ceus07.pdf' %></span><br>A. Murray, K. Kim, J. Davis, R. Machiraju, R. Parent<br>Computers, Environment and Urban Systems, Vol. 31, 2007, pp. 133-147</li>

        <li><span>Background-Subtraction in Thermal Imagery Using Contour Saliency - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/ijcv07.pdf' %></span><br>J. Davis and V. Sharma<br>International Journal of Computer Vision, Vol. 71, No. 2, 2007, pp. 161-181</li>
    
    </ul>
</div>




