---
layout: "navBarBack"
title: Jim Davis - 2010 Publications
---

<div class="banner center">
    <div class="academiaBanner">
        <%= image_tag "bannerAcademia.jpg" %>
    </div>
</div>
<div class="center">
    <h2>2010 - 2009</h2>
</div>

<!-- 2010 - 2009 Publications -->
<div class="publicationsList">
    <ul>
        <li><span>Attention-based Target Localization using Multiple Instance Learning - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/isvc10a.pdf' %></span><br>K. Sankaranarayanan and J. Davis<br>International Symposium on Visual Computing, November 2010</li>

        <li><span>Learning Scene Entries and Exits using Coherent Motion Regions - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/isvc10b.pdf' %></span><br>M. Nedrich and J. Davis<br>International Symposium on Visual Computing, November 2010</li>

        <li><span>Exploiting Multiple Cameras for Environmental Pathlets - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/isvc10c.pdf' %></span><br>K. Streib and J. Davis<br>International Symposium on Visual Computing, November 2010</li>  
        
        <li><span>PTZ Camera Modeling and Panoramic View Generation via Focal Plane Mapping - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/accv10.pdf' %></span><br>K. Sankaranarayanan and J. Davis<br>Asian Conference on Computer Vision, November 2010</li>  

        <li><span>Learning Directed Intention-driven Activities using Co-Clustering - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/avss10b.pdf' %></span><br>K. Sankaranarayanan and J. Davis<br>IEEE Conference on Advanced Video and Signal Based Surveillance, August 2010</li>  

        <li><span>Extracting Pathlets From Weak Tracking Data - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/avss10b.pdf' %></span><br>K. Streib and J. Davis<br>IEEE Conference on Advanced Video and Signal Based Surveillance, August 2010</li>  

        <li><span>Geo-registration and Interactive Control for Distributed Camera Networks - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/OSU-CISRC-6-10-TR13.pdf' %></span><br>M. Nedrich, K. Sankaranarayanan, and J. Davis<br>OSU Dept. Computer Science and Engineering Technical Report OSU-CISRC-6/10-TR13, 2010</li> 

        <li><span>How Panoramic Visualization can Support Human Supervision of Intelligent Surveillance - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/HFES09.pdf' %></span><br>A. Morison, D. Woods, and J. Davis<br>Annual Meeting of the Human Factors and Ergonomics Society, October 2009</li> 

        <li><span>Human Detection and Tracking</span><br>J. Davis, V. Sharma, A. Tyagi, and M. Keck<br>Encyclopedia of Biometrics, S. Li (ed.), Springer, July 2009</li> 

        <li><span>A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/SPIE09.pdf' %></span><br>V. Sharma and J. Davis<br>SPIE Newsroom: Electronic Imaging & Signal Processing, February 2009</li> 

        

    </ul>
</div>




