---
layout: "navBarBack"
title: Jim Davis - 2012 Publications
---

<div class="banner center">
    <div class="academiaBanner">
        <%= image_tag "bannerAcademia.jpg" %>
    </div>
</div>
<div class="center">
    <h2>2012 - 2011</h2>
</div>

<!-- 2012 - 2011 Publications -->
<div class="publicationsList">
    <ul>
        <li><span>One-Class Multiple Instance Learning and Applications to Target Tracking - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/ACCV-12.pdf' %></span><br>K. Sankaranarayanan and J. Davis<br>Asian Conference on Computer Vision, November 2012</li>

        <li><span>Segmentation and Scene Modeling for MIL-based Target Localization - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/ICPR-12.pdf' %></span><br>K. Sankaranarayanan and J. Davis<br>International Conference on Pattern Recognition, November 2012</li>

        <li><span>Detecting Behavioral Zones in Local and Global Camera Views - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/MVA2012.pdf' %></span><br>M. Nedrich and J. Davis<br>Machine Vision and Applications, Vol. 23, 2012, pp. 1-27</li>

        <li><span>Recovery and Reasoning about Occlusions in 3D using Few Cameras with Applications to 3D Tracking - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/IJCV2011.pdf' %></span><br>M. Keck and J. Davis<br>International Journal of Computer Vision, Vol. 95, Issue 3, 2011, pp. 240-264</li>

        <li><span>Activity Analysis in Wide-Area Surveillance Video - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/OSU-CISRC-11-11-TR34.pdf' %></span><br>R. Feather and J. Davis<br>OSU Dept. Computer Science and Engineering Technical Report OSU-CISRC-11/11-TR34, 2011</li>

        <li><span>Object Association Across PTZ Cameras using Logistic MIL - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11b.pdf' %></span><br>K. Sankaranarayanan and J. Davis<br>IEEE Conference on Computer Vision and Pattern Recognition, June 2011</li>

        <li><span>Using Ripley's K-function to Improve Graph-Based Clustering Techniques - <%= link_to 'PDF', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/cvpr11a.pdf' %></span><br>K. Streib and J. Davis<br>IEEE Conference on Computer Vision and Pattern Recognition, June 2011</li>

        <li><span>Camera Control and Geo-Registration for Video Sensor Networks</span><br>J. Davis<br>Distributed Video Sensor Networks, B. Bhanu (ed.), Springer, January 2011</li>
    </ul>
</div>




