---
layout: "navBar"
title: Jim Davis - Home
---

<!-- Homepage. Lists education/biographical information and present and past appointments. -->

<!-- Site-wide banner and "Home" title -->
<div class="mainInfo center">
    <div class="banner">
        <div class="homeBanner">
            <%= image_tag "bannerHome.jpg" %>
        </div>
    </div>
    <div class="homeTitles">
    <h1>Jim Davis</h1>
    <h2>Ph.D. MIT, 2000</h2>
    <%= link_to 'Dept. of Computer Science and Engineering', 'https://cse.osu.edu/'%>
    </div>

<!-- List of of present and past appointments by year -->
        <div class="presentApt"><h3>Present Appointments</h3>
          <ul>
            <li>2013 - Present: Full Professor,&nbsp;&nbsp;<%= link_to 'Dept. of Computer Science and Engineering', 'https://cse.osu.edu/'%>, OSU</li>
            <li>2004 - Present: Faculty Member,&nbsp;&nbsp;<%= link_to 'Institute for Ergonomics', 'https://ergonomics.osu.edu/'%>, OSU</li>
            <li>2000 - Present: Faculty Member,&nbsp;&nbsp;<%= link_to 'Center for Cognitive Science', 'http://www.cog.ohio-state.edu/'%>, OSU</li>
            <li>2000 - Present: Affiliated Faculty,&nbsp;&nbsp;<%= link_to 'Advanced Computing Center for the Arts & Design', 'http://www.accad.ohio-state.edu/'%>, OSU</li>
          </ul>
	</div>
        <div class="pastApt"><br><h3>Past Appointments</h3>
          <ul>
            <li>2005 - 2013: Associate Professor,&nbsp;&nbsp;<%= link_to 'Dept. of Computer Science and Engineering', 'https://cse.osu.edu/'%>, OSU</li>
            <li>2000 - 2005: Assistant Professor,&nbsp;&nbsp;<%= link_to 'Dept. of Computer Science and Engineering', 'https://cse.osu.edu/'%>, OSU</li>
          </ul>
	</div>
<!-- Footer for "Gem" copyright. -->
    <div id = "footer">&copy; Gem 2016</div>
</div>



