---
title: Jim Davis - Media
layout: "navBar"
---

<!-- Media page. Lists all video, radio, TV news, selected publications and a slideshow of pictures where Dr. Davis had a speaking engagement or contributed research. --> 

<!-- Site-wide banner and "Media" title --> 
<div class="banner center">
    <div class="mediaBanner">
        <%= image_tag "bannerMedia.jpg" %>
    </div>
</div>
<div class = "mainInfo center">
 
<!-- Slideshow of pictures from events and research. The slideshow is on a timer to 
     advance each picture. -->
    <div class="css-slideshow center"> 
    	<h2>Slideshow</h2>
          <figure> 
            <img src="/images/gallery1.jpg" width="495" height="370" /> 
             <figcaption>Karthik and Matt back for a visit (October 21, 2013).</figcaption> 
          </figure> 
          <figure> 
            <img src="/images/gallery2.jpg" width="495" height="370" /> 
             <figcaption>Davis lab out for lunch (June 2012).</figcaption> 
          </figure> 
          <figure> 
            <img src="/images/gallery3.jpg" width="495" height="370" /> 
             <figcaption>Kevin signing "the Ph.D. hat" (April 2012). </figcaption> 
          </figure> 
          <figure> 
            <img src="/images/gallery4.jpg" width="495" height="370" /> 
             <figcaption>Kevin wearing "the Ph.D. hat" (April 2012). </figcaption> 
          </figure> 
          <figure> 
            <img src="/images/gallery5.jpg" width="495" height="370" /> 
             <figcaption>Prof. Davis speaking at AU11 orientation.</figcaption> 
          </figure> 
          <figure> 
            <img src="/images/gallery8.jpg" width="495" height="370" /> 
            <figcaption>Current and past members of the lab at "Garden of the Gods" (Colorado Springs), 2011.
            Pictured (left-to-right): Kevin Streib, Vinay Sharma, Karthik Sankaranarayanan, Prof. Davis, Ambrish Tyagi, Mark Keck.</figcaption> 
          </figure> 
          <figure> 
            <img src="/images/gallery9.jpg" width="495" height="370" /> 
             <figcaption>Matt and Kevin (far right) featured in picture and news article on AFRL research. </figcaption> 
          </figure> 
          <figure> 
            <img src="/images/gallery10.jpg" width="495" height="370" /> 
            <figcaption>2009 lab photo. Pictured (left-to-right): Billy Hartmann, Prof. Davis, Ambrish Tyagi, Matt Nedrich, Karthik Sankaranarayanan, Karl Salva, Mark Keck.</figcaption> 
          </figure> 
      </div>

<!-- Collapsible list of media items listed by medium: TV/video, radio, print -->

<div class ="media">
  <ul class="collapsibleList">
    
    <li style="margin-bottom: 10px">
       	<label for="TV/Video">TV/Video</label>
	<input type="checkbox"  id = "TV/Video"/>
		<ul>
		
		  <li style="margin-bottom: 10px">NPR (WOSU) Interview on "All Sides with Ann Fisher" (aired live 01/20/15)</li>

		  <li style="margin-bottom: 10px">NPR (WOSU) Interview on "All Sides with Ann Fisher" (aired live 07/03/14)</li>

		  <li style="margin-bottom: 10px">iMix, Big10 TV Network, "Smart Surveillance" (initially aired 7/28/09)</li>

		  <li style="margin-bottom: 10px">10TV news (CBS), "Smart Technology Being Used at Ohio State" (Aired 07/17/09)</li>

		  <li style="margin-bottom: 10px">OSU Video, "Better Eyes" (released January 9, 2009)</li>

		  <li style="margin-bottom: 10px">OSU Video, "'Smart' Surveillance System May Tag Suspicious or Lost People" (released 12/08)</li>

		  <li style="margin-bottom: 10px">Frontline: "Spying on the Home Front" (Aired 05/15/07)</li>

		  <li style="margin-bottom: 10px">Fox-28/ABC-6 News, "They're Watching You" (Aired 05/10/04)</li>

		  <li style="margin-bottom: 10px">Fox-28/ABC-6 News, Interview on thermal technology (Aired 05/08/03, 05/09/03)</li>

		  <li style="margin-bottom: 10px">NBC-4 News, (aired 05/09/03)</li>

		  <li style="margin-bottom: 10px">CBS-10 News, (aired 05/04/03)</li>

		  <li style="margin-bottom: 10px">OSU Video,"Researcher developing video technology for surveillance: Cameras being trained to `see' people and recognize their activities" (released 04/30/03)</li>

		</ul>
    </li>

	<li style="margin-bottom: 10px">
       	<label for="Radio">Radio</label>
	<input type="checkbox"  id = "Radio"/>
		<ul>
	
		  <li style="margin-bottom: 10px">NPR (WOSU) Interview on "All Sides with Ann Fisher" (aired live 01/20/15)</li>

		  <li style="margin-bottom: 10px">NPR (WOSU) Interview on "All Sides with Ann Fisher" (aired live 07/03/14)</li>

		  <li style="margin-bottom: 10px">AAAS Science Update radio feature, "Internet Video: A new technology could make watching video on the Internet less frustrating" (aired January 12, 2005)
		  <%= link_to '[MP3 audio clip]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/16-InternetVideoStory.mp3'%>,
		  &nbsp;&nbsp;<%= link_to  '[web page and audio]', 'http://www.scienceupdate.com/january05.html#050112'%></li>

		
		</ul>
    </li>

	<li style="margin-bottom: 10px">
       	<label for="Print">Print</label>
	<input type="checkbox"  id = "Print"/>
		<ul>

		  <li style="margin-bottom: 10px">Security Dealer & Integrator, "Eye on Troublesome Patterns," May 25, 2011 
			  <%= link_to '[WWW]', 'http://www.securityinfowatch.com/Features/eye-troublesome-patterns'%>&nbsp;&nbsp;
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/SDI-2011.pdf'%></li>

		  <li style="margin-bottom: 10px">Popular Mechanics, "PM's Guide to the Best in Home Surveillance Gear," April 6, 2011 
			  <%= link_to '[WWW]', 'http://www.popularmechanics.com/technology/gadgets/reviews/pms-guide-to-the-best-in-home-surveillance-gear'%>&nbsp;&nbsp;
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/PM-2011.pdf'%></li>

		  <li style="margin-bottom: 10px">The Why Files: the Science Behind the News, "Video Surveillance: Who is Watching You, and Why," March 11, 2010 
			  <%= link_to '[WWW]', 'http://whyfiles.org/323cyberspies/index.php?g=2.txt'%></li>

		  <li style="margin-bottom: 10px">Electrical Contractor magazine, "Surveillance with Smarts," February 2010, p. 50 
			  <%= link_to '[WWW]', 'http://www.ecmag.com/index.cfm?fa=article&articleID=11200'%></li>

		  <li style="margin-bottom: 10px">OSU Alumni Magazine, Research Report Article, "Eye in the Sky", May/June, 2009, page 30 
		      <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/alumni09.pdf'%></li>

		  <li style="margin-bottom: 10px">OSU News In Engineering Research Update article, "Intelligent Surveillance Could Aid Law Enforcement", Vol. 81, No. 1, 2009 
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/nie811.pdf'%></li>

		  <li style="margin-bottom: 10px">SPIE Newsroom: Electronic Imaging & Signal Processing, "A Feature-Selection Approach to Fusing Electro-Optical and IR Imagery" (February 25, 2009)
			  <%= link_to '[WWW]', 'http://spie.org/x33833.xml?highlight=x2410&ArticleID=x33833'%>&nbsp;&nbsp;
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Publications/SPIE09.pdf'%></li>

		  <li style="margin-bottom: 10px">Photonics Spectra, Tech News, "Neighborhood Watch, Sans Neighbors" (February, 2009; pp. 18-20) 
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/PhotonicsSpectra09.pdf'%></li>

		  <li style="margin-bottom: 10px">MSNBC, Technology & Science, "Computer has eye for Suspicious Behavior" (January 26, 2009) 
			  <%= link_to '[WWW]', 'http://www.msnbc.msn.com/id/28566179/'%>&nbsp;&nbsp;
			  <%= link_to '[PDF (no pictures)]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/MSNBC-09.pdf'%></li>

		  <li style="margin-bottom: 10px">Columbus Dispatch, "Computers Might Spot People up to no Good" (January 24, 2009)  
			  <%= link_to '[WWW]', 'http://dispatch.com/live/content/local_news/stories/2009/01/24/cameras.ART_ART_01-24-09_B4_5ICLMCL.html?sid=101'%>&nbsp;&nbsp;
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/dispatch09.pdf'%></li>

		  <li style="margin-bottom: 10px">onCampus, Discovery Briefs, "'Smart' Surveillance System May Tag Suspicious or Lost People" (January 8, 2009) 
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/onCampus-09.pdf'%></li>

		  <li style="margin-bottom: 10px">UWeekly "Big Brother No, Smart Camera Yes" (February 18, 2009) 
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/UWeekly-09.pdf'%></li>

		  <li style="margin-bottom: 10px">The Lantern, "Under Surveillance" (January 27, 2009) 
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/Lantern09b.pdf'%></li>

		  <li style="margin-bottom: 10px">The Lantern, "'Smart' Cameras are Watching You" (January 9, 2009) 
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/Lantern09.pdf'%></li>

		  <li style="margin-bottom: 10px">OSU News Release, "'Smart' Surveillance System May Tag Suspicious or Lost People" (released 12/08)  
			  <%= link_to '[WWW]', 'http://researchnews.osu.edu/archive/surveillance/index.htm'%>&nbsp;&nbsp;
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/OSU-press-08-print.pdf'%></li>

		  <li style="margin-bottom: 10px">The Economist, Science & Technology section, "Surveillance Technology: If Looks Could Kill", October 23, 2008
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/TheEconomist08.pdf'%></li>

		  <li style="margin-bottom: 10px">OSU CSE Newletter, Focus on Research Article, "Jim Davis: Vision for the Future of Surveillance", Autumn 2007, pages 2-3 
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/jwdavis-research-cse-07.pdf'%></li>

		  <li style="margin-bottom: 10px">OSU Alumni Magazine, Research Report Article, "Watch the Hands and Face", May/June, 2005, page 8 
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/OSAM05.pdf'%></li>

		  <li style="margin-bottom: 10px">OSU News In Engineering Research Update article, "Advancing Technologies for Internet Video", Vol. 77, No. 1, Spring 2005 
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/NIE_77.1_Spring_2005.pdf'%></li>

		  <li style="margin-bottom: 10px">ACM TechNews Feature, "Researchers Find Way to Make Internet Video More Appealing", Vol. 6, Issue 734, December 22, 2004  
			  <%= link_to '[WWW]', 'http://www.acm.org/technews/articles/2004-6/1222w.html'%>&nbsp;&nbsp;
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/ACMNewsService.pdf'%></li>

		  <li style="margin-bottom: 10px">OSU News Release, "Researchers find way to make internet video more appealing" (released 12/21/04) 
			  <%= link_to '[WWW]', 'http://researchnews.osu.edu/archive/facevid.htm'%>&nbsp;&nbsp;</li>

		  <li style="margin-bottom: 10px">Homeland Security & Defense, "HSARPA seeking video software technology to interpret complex surveillance stream", Vol. 3, No. 16, April 21, 2004 			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/HSARPA.pdf'%></li>

		  <li style="margin-bottom: 10px">Columbus Business First, Tech Now feature article, "Hot on Surveillance: Thermal technology grows in popularity, importance in post-911 world", Vol. 20, No. 7, Oct. 17, 2003 
			  <%= link_to '[PDF]', 'http://web.cse.ohio-state.edu/~jwdavis/Media/busFirst03.pdf'%></li>
		
		</ul>
    </li>

  </ul>
</div>

<!-- Footer with "Gem" copyright -->  
    <div id = "footer">&copy; Gem 2016</div>

</div> 
